@model ZonaFl.Models.Country

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutContratanteLog.cshtml";
}

<div id="wrap_perfiles">
    <section id="principal">
        <div class="container">
            <div id="columnahide" class="col-lg-2"></div>
            <div id="columna" class="col-md-12 col-lg-12">

                <!-- Div izq-->
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="saludoperfi">
                        <div id="fotop" class="fotodeperfil">
                            <img src="~/Static/images/user_default.png" />
                        </div>
                        <div id="saludop" class="saludops">
                            <h5 id="username_profile">suvcam_07</h5>
                            <h6 id="tipo_usuario_profile"><i>Freelance</i></h6>
                            <h6 id="ciudad_profile">Bogotá</h6>
                            <h6 id="pais_profile">COLOMBIA</h6>

                        </div>

                    </div>
                    <div id="calificaciones" class="col-xs-12">
                        <div id="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div id="bande_comen" class="col-xs-12">
                            <a class="iconbar2" href="#"><i class="fa fa-envelope-o"></i></a>
                            <a class="iconbar2" href="#"><i class="fa fa-comment-o"></i></a>

                        </div>
                    </div>
                    <hr>
                    <div id="comentarios_freelance" class="col-xs-12 col-sm-12 col-md-12">
                        <h3><strong><i class="fa fa-comment-o"></i> Comentarios:</strong></h3>
                        <hr>
                        <div id="comentarios_recopil">
                            <div class="single_comments">
                                <img id="com_reciente_img" src="~/Static/images/blog/avatar3.png" alt="" />
                                <p id="com_reciente_com">"Excelente trabajo, dentro de los tiempos establecidos."</p>
                                <div class="entry-meta small muted">
                                    <span>Por: <a id="com_reciente_user" href="#">Otro usuario</a></span>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div id="terminados_freelance" class="col-xs-12">
                        <h3><strong>Proyecto más reciente:</strong></h3>
                        <hr>
                        <div class="progress-wrap">
                            <h3>Diseño Web</h3>
                            <div class="progress">
                                <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                    <span class="bar-width">85%</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <!--FIN Div izq-->
                <!--Div central-->

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a id="edicion_perfil" href="freelance.html">Editar perfil &nbsp;<i class="fa fa-edit"></i></a>
                    <hr>
                    <div class="media-body post_reply_comments acercade">

                        <h3><strong><i class="fa fa-user"></i> &nbsp;Acerca de mi:</strong></h3>
                        <hr>
                        <p id="descripcion_profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    </div>

                    <div id="habilidades" class="cat_selec">
                        <h3><strong><i class="fa fa-hand-o-right"></i> Mis habilidades:</strong></h3>
                        <hr>
                        <div id="skills_scroll">
                            <ul id="habilidades_freelance_profile" class="tag skills_selected">

                                <li id="pw1">PHP</li>

                            </ul>
                        </div>
                    </div>

                    <!-- <div id="hojavida">
                    </div>-->

                    <div id="portafolio_vistaprevia_freelance">
                        <h3><strong><i class="fa fa-bookmark-o"></i> &nbsp;Algunos de mis trabajos:</strong></h3>
                        <hr>
                        <!-- about us slider -->
                        <div id="about-slider">
                            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators visible-xs visible-sm visible-md visible-lg">
                                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                                </ol>

                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div id="portaf_1" class="preview_porta"></div>
                                        <div id="portaf_2" class="preview_porta"></div>
                                        <div id="portaf_3" class="preview_porta"></div>

                                    </div>
                                    <div class="item">
                                        <div id="portaf_4" class="preview_porta"></div>
                                        <div id="portaf_5" class="preview_porta"></div>
                                        <div id="portaf_6" class="preview_porta"></div>
                                    </div>
                                    <div class="item">
                                        <div id="portaf_7" class="preview_porta"></div>
                                        <div id="portaf_8" class="preview_porta"></div>
                                        <div id="portaf_9" class="preview_porta"></div>
                                    </div>
                                </div>


                            </div> <!--/#carousel-slider-->
                        </div><!--/#about-slider-->
                    </div>
                </div>

                <!--FIN Div central-->
                <!-- Div der-->

                <div id="secder_free" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">


                    <div id="veri_pago" class="verificaciones_barra">
                        <div id="verifi_pago" class="verif_item">
                            <img src="~/Static/images/verificacion/verificacionpago.png" />
                        </div>
                        <center><h5>Verificación pago</h5></center>
                    </div>


                    <div id="veri_mail" class="verificaciones_barra">
                        <div id="verifi_mail" class="verif_item">
                            <img src="~/Static/images/verificacion/verificacionemail.png" />
                        </div>
                        <center><h5>Verificación Email</h5></center>
                    </div>

                    <div id="veri_movil" class="verificaciones_barra">
                        <div id="verifi_movil" class="verif_item">
                            <img src="~/Static/images/verificacion/verificacionmovil.png" />
                        </div>
                        <center><h5>Verificación móvil</h5></center>
                    </div>

                    <!--<div id="veri_saldo" class="verificaciones_barra">
                     <div id="verifi_saldo" class="verif_item">
                        <img src="images/verificacion/Verificacionsaldos.png"/>
                        </div>
                         <center><h5>Verificación saldo</h5></center>
                    </div>-->

                </div>

                <!--FIN Div der-->

            </div>


        </div><!--/.container-->
    </section><!--/about-us-->
</div>