<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!-- <add name="DefaultConnection" connectionString="Data Source=JUANFDOCASTRO\LOCAL;Initial Catalog=ZonaFl;Persist Security Info=True;User ID=userZonaFl;Password=12345" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=JUANFDOCASTRO\SQLEXPRESS2014;Initial Catalog=DB_102707_zonafl;Persist Security Info=True;User ID=DB_102707_zonafl_user;Password=zonafl" providerName="System.Data.SqlClient" />-->
    <add name="DB_102707_zonaflEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANFDOCASTRO\SQLEXPRESS;initial catalog=DB_102707_zonafl;persist security info=True;user id=DB_102707_zonafl_user;password=zonafl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=JUANFDOCASTRO\SQLEXPRESS2014;Initial Catalog=DB_102707_zonafl;Persist Security Info=True;User ID=DB_102707_zonafl_user;Password=zonafl" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=JUANFDOCASTRO\SQLEXPRESS;Initial Catalog=DB_102707_zonafl;Persist Security Info=True;User ID=DB_102707_zonafl_user;Password=zonafl" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>