@model ZonaFl.Models.RegisterBindingModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutFreelanceLog.cshtml";
}


 
<div id="wrap_perfiles">
    <section id="principal">
        <div class="container">
            <div id="columnahide" class="col-lg-2"></div>
            <div id="columna" class=" col-md-12 col-lg-12">

                <!-- Div izq-->
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="saludoperfi">
                        <div id="fotop" class="fotodeperfil">
                          
                            @if (ViewBag.ImageUser == null)
                            {
                                <img  src="images/user_default.png" alt="" />
                            }
                            else
                            {
                                <img  src='~/UploadedFiles/@ViewBag.ImageUser' alt="" />
                            }
                        </div>
                        <div id="saludop" class="saludops">
                            <h5 id="username_profile">@Html.DisplayFor(m=>m.UserName)</h5>
                            <h6 id="tipo_usuario_profile"><i>Contratante</i></h6>
                            <h6 id="ciudad_profile">@Html.DisplayFor(m => m.City)</h6>
                            <h6 id="pais_profile">@Html.DisplayFor(m => m.Country)</h6>

                        </div>

                    </div>
                    <div id="calificaciones" class="col-xs-12">
                        <div id="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>                   

                    <div id="verify" class="col-xs-12">
                        <p style="margin-top:13px;"><strong>Verificaciones</strong></p>
                        <div id="verify_wrap">
                            <div class="col-xs-4 verify_item">
                                <a href="#"><img src="images/verificacion/verificacion_pago-G.png" /></a>
                                <p><strong>Pagos</strong></p>
                            </div>

                            <div class="col-xs-4 verify_item">
                                <a href="#"><img class="verified" src="images/verificacion/verificacionemail.png" /></a>
                                <p><strong>Email</strong></p>
                            </div>

                            <div class="col-xs-4 verify_item">
                                <a href="#"><img src="images/verificacion/verificacion_movil_G.png" /></a>
                                <p><strong>Móvil</strong></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="comentarios_freelance" class="col-xs-12 col-sm-12 col-md-12">
                        <h3><strong><i class="fa fa-comment-o"></i> Comentarios:</strong></h3>
                        <hr>
                        <div id="comentarios_recopil">
                            <div class="single_comments">
                                <img id="com_reciente_img" src="images/blog/avatar3.png" alt="" />
                                <p id="com_reciente_com">"Excelente trabajo, dentro de los tiempos establecidos."</p>
                                <div class="entry-meta small muted">
                                    <span>Por: <a id="com_reciente_user" href="#">Otro usuario</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>
                <!--FIN Div izq-->


                <!--Div central-->

                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                
                    <!--inicio sección perfil-->

                    <div id="seccion_perfil">

                        <h2><i class="fa fa-user"></i> &nbsp;Perfil:</h2>

                        <hr>
                        <div class="media-body post_reply_comments acercade">
                            <h3><strong><i class="fa fa-user"></i> &nbsp;Acerca de mi:</strong></h3>
                            <hr>
                            <p id="descripcion_profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>

                        <div id="info_empresas">
                            <h3><strong><i class="fa fa-building-o"></i> &nbsp;Información de la empresa:</strong></h3>
                            <hr>
                            <p><span id="namecomercial">El nombre comercial de la empresa</span>:</p>
                            <p>
                                <span id="aboutcompany">
                                    En este espació se incluye la descripción de la empresa añadida previamente en la creación de perfil de empresa.
                                </span>
                            </p>
                            <p><strong>Website: </strong><span id="sitecompany">http://elwebsitedelaempresa.com.co</span></p>

                            <hr>

                            <p><strong>NIT: </strong><span id="nitcompany">000.000.000-5</span></p>
                            <p><strong>Sector empresa: </strong><span id="sectorcompany">El sector al que pertenece la compañía</span></p>
                            <p><strong>Número de empleados: </strong><span id="amountemployer">00</span></p>
                        </div>

                    </div>

                    <!--Fin sección perfil-->
                  
                </div>

                <!--FIN Div central--> 
                <!-- Div der-->

                <div id="secder_free" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

                    <div id="ads_zona">
                        (Espacio reservado para publicidad y avisos varios)
                        <hr>
                        (Espacio reservado para publicidad y avisos varios)
                        <hr>
                        (Espacio reservado para publicidad y avisos varios)
                        <hr>
                        (Espacio reservado para publicidad y avisos varios)
                    </div>


                </div>

                <!--FIN Div der-->  	

            </div>

        </div><!--/.container-->
    </section><!--/about-us-->
</div>

<script>
       // cambio de tab secciones contratante

  $("#tab_perfil").click(function(){
    $(this).addClass("activ");
    $("#seccion_perfil").show("slow");
    $("#seccion_proyectos").hide("slow");
     $("#tab_proyectos").removeClass("activ");

  });


      $("#tab_proyectos").click(function(){
        $(this).addClass("activ");
    $("#seccion_proyectos").show("slow");
    $("#seccion_perfil").hide("slow");
    $("#tab_perfil").removeClass("activ");

  });


</script>
